<ul class="nav nav-list">
  <li class="nav-header">Menu Principal</li>
       <li><%= link_to "Offres d'emploi",    root_path %></li>
       <li><%= link_to "Actualités",    apropos_path %></li>
        <li class="divider"></li>
  <li class="nav-header">Mon Espace</li>
       <li><%= link_to "Profil",    apropos_path %></li>
       <li><%= link_to "CV",    apropos_path %></li>
       <li><%= link_to "Candidatures",    apropos_path %></li>
       <li><%= link_to "Protfolio",    apropos_path %></li>
       <li><%= link_to "Testes",    apropos_path %></li>
        <li class="divider"></li>
   <li><%= link_to "Modifier",    apropos_path %></li>


       
 
</ul>