<ul class="nav nav-list">
  <li class="nav-header">Menu Principal</li>
       <li><%= link_to "Offres d'emploi",    root_path %></li>
       <li><%= link_to "Actualités",    offresemploi_path %></li>
        <li class="divider"></li>
  <li class="nav-header">Mon Espace</li>
       <li><%= link_to "Profil",    "#" %></li>
       <li><%= link_to "CV",    "#" %></li>
       <li><%= link_to "Candidatures",    "#" %></li>
       <li><%= link_to "Protfolio",    "#"%></li>
       <li><%= link_to "Testes",    "#" %></li>
        <li class="divider"></li>
   <li><%= link_to "Modifier",    "#" %></li>


       
 
</ul>